
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.rotating-image {
    width: 150px; 
    height: 150px; 
    animation: rotate 5s linear infinite; 
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
